// colors
$color-yellow: hsl(47, 88%, 63%);
$color-gray-950: hsl(0, 0%, 7%);
$color-gray-500: hsl(0, 0%, 42%);
$color-white: hsl(0, 0%, 100%);

// spacing
$spacing-300: 24px;
$spacing-150: 12px;
$spacing-100: 8px;
$spacing-50: 4px;

// fonts
@font-face {
  font-family: "Figtree Extra Bold";
  src: url("../assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree Medium";
  src: url("../assets/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// typography
@mixin text-preset-1 {
  font-family: "Figtree Extra Bold", sans-serif;
  font-size: clamp(20px, 5vw, 24px);
  line-height: 150%;
  letter-spacing: 0px;
}

@mixin text-preset-2 {
  font-family: "Figtree Medium", sans-serif;
  font-size: clamp(14px, 3vw, 16px);
  line-height: 150%;
  letter-spacing: 0px;
}

@mixin text-preset-3 {
  font-family: "Figtree Medium", sans-serif;
  font-size: clamp(12px, 3vw, 14px);
  line-height: 150%;
  letter-spacing: 0px;
}

@mixin text-preset-3-bold {
  font-family: "Figtree Extra Bold", sans-serif;
  font-size: clamp(12px, 3vw, 14px);
  line-height: 150%;
  letter-spacing: 0px;
}

* {
  box-sizing: border-box;
}

body {
  color: $color-gray-950;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: $color-yellow;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 $spacing-300;
}

.card {
  max-width: 384px;
  background-color: $color-white;
  padding: $spacing-300;
  border-radius: 20px;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 1),
    inset 0px 0px 0px 1px $color-gray-950;
  display: flex;
  flex-direction: column;
  gap: $spacing-300;

  &__img {
    height: 200px;
    object-fit: cover;
    display: block;
    width: 100%;
    border-radius: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-150;
  }

  &__tag {
    @include text-preset-3-bold;
    background-color: $color-yellow;
    align-self: start;
    padding: $spacing-50 $spacing-150;
    border-radius: 4px;
  }

  &__date {
    @include text-preset-3;
  }

  &__title {
    color: $color-gray-950;
    text-decoration: none;
    transition: all ease 0.6s;

    &:hover {
      color: $color-yellow;
      transition: all ease 0.6s;
    }

    h2 {
      @include text-preset-1;
      margin: 0;
    }
  }

  &__descr {
    @include text-preset-2;
    color: $color-gray-500;
    margin: 0;
  }
}

.author {
  display: flex;
  align-items: center;
  gap: $spacing-150;

  &__avatar {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &__name {
    @include text-preset-3-bold;
    font-size: 14px;
  }
}

// started files default styles
.attribution {
  font-size: 11px;
  text-align: center;
  /* to ignore footer height in flex container and centering card relative to viewport */
  position: absolute;
  width: 100%;
  bottom: $spacing-150;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
